/* Reset */
html {
    box-sizing: border-box;
    font-family: "Faculty Glyphic", serif;
    font-size: 24px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Custom */
.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 500px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-weight: bold;
}

a {
    color: gray;
}

a:hover {
    color: #7d00a3;
}

a:hover .nf {
    color: #7d00a3;
}

.no-underline {
    text-decoration: none;
}

.center {
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: white;
    width: 100%;
    font-size: 0.8em;
}

@media (max-width: 600px) {
    footer {
        position: static;
        width: 100%;
        bottom: auto;
    }
}

/* Dark mode styles */
body.dark-mode {
    background-color: black;
    color: lightgray;
}

/* Colors */
.nf-fa-discord {
    color: #5165f6;
}

.nf-md-language_javascript {
    color: #f8dc3d;
}

.nf-dev-python {
    color: #3778ae;
}

.nf-dev-git {
    color: #de4c36;
}

.nf-md-docker {
    color: #2496ed;
}

.nf-md-arch {
    color: #1793d1;
}

.nf-md-debian {
    color: #d70651;
}

.nf-md-ubuntu {
    color: #de4815;
}
