html {
box-sizing: border-box;
font-family: 'Faculty Glyphic', serif;
font-style: normal;
font-size: 24px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

/* Custom */
.flex-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px;
}

main {
max-width: 500px;
}

.no-underline {
text-decoration: none;
}

/* Dark mode styles */
body.dark-mode {
background-color: black;
color: white;
}

body.dark-mode a {
color: lightblue;
}

/* Colours */
.nf-fa-discord {
color: #5165f6;
}

.nf-md-language_javascript {
color: #f8dc3d;
}

.nf-dev-python {
color: #3778ae;
}

.nf-dev-git {
color: #de4c36;
}

.nf-fa-githb {
color: #000;
}

.nf-md-docker {
color: #2496ed;
}

.nf-md-arch {
color: #1793d1;
}

.nf-md-debian {
color: #d70651;
}

.nf-md-ubuntu {
color: #de4815;
}